<div>
  <strong><%= comment.name %> says:</strong>
  <%= comment.content %>
  <div class="comment-admin">
    <%= link_to "Edit", edit_post_comment_path(@post, comment) %>
    <!--<%= link_to "Delete", [@post, comment], method: :delete %> -->
    <%= link_to 'Delete', [@post, comment], data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>
</div>